import 'package:flutter/material.dart';
import 'package:provider_state_management/provider_state_management.dart';

import '../extensions/extensions.dart';
import '../providers/providers.dart';

class {{pascalNameInput}}Page extends StatelessWidget {
  const {{pascalNameInput}}Page({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: Text(context.l10n{{pascalNameInput}}.title),
      ),
      body: BaseViewWidget<{{pascalNameInput}}Provider, Object>(
        builder: (context, data, child) {
          return Center(
            child: Text(context.l10n{{pascalNameInput}}.title),
          );
        },
      ),
    );
  }
}
