import 'package:core_di/core_di.dart';
import 'package:go_router/go_router.dart';
import 'package:injectable/injectable.dart';

import '{{snakeNameInput}}_route_module.dart';

@LazySingleton(as: IFeatureRouteModule)
class {{pascalName}}FeatureRouteModule implements IFeatureRouteModule {
  @override
  List<RouteBase> get routes => $appRoutes;
}
