arb-dir: assets/language
template-arb-file: en.arb
output-localization-file: app_localizations_{{moduleName}}.dart
output-class: {{pascalName}}Localizations
synthetic-package: false
output-dir: lib/src/gen/l10n
