import 'package:bloc_state_management/bloc_state_management.dart';
import 'package:freezed_annotation/freezed_annotation.dart';
import 'package:injectable/injectable.dart';

part '{{snakeNameInput}}_event.dart';
part '{{snakeNameInput}}_state.dart';
part '{{snakeNameInput}}_bloc.freezed.dart';

@injectable
class {{pascalNameInput}}Bloc
    extends BaseBloc<{{pascalNameInput}}Event, BlocViewState<{{pascalNameInput}}StateData>> {
  {{pascalNameInput}}Bloc() : super(const BlocViewState.initial()) {
    on<_{{pascalNameInput}}Started>(_onStarted);
  }

  Future<void> _onStarted(
    _{{pascalNameInput}}Started event,
    Emitter<BlocViewState<{{pascalNameInput}}StateData>> emit,
  ) async {
    emit(const BlocViewState.success({{pascalNameInput}}StateData()));
  }
}
