part of '{{snakeNameInput}}_bloc.dart';

@freezed
abstract class {{pascalNameInput}}Event with _${{pascalNameInput}}Event {
  const factory {{pascalNameInput}}Event.started() = _{{pascalNameInput}}Started;
}
