part of '{{snakeNameInput}}_bloc.dart';

@freezed
abstract class {{pascalNameInput}}StateData with _${{pascalNameInput}}StateData {
  const factory {{pascalNameInput}}StateData({
    @Default('') String message,
  }) = _{{pascalNameInput}}StateData;
}
